/* margin-top: calc(-1 * var(--bs-gutter-y)); Calcular pixeles*/

*,body{
    margin: 0;
    padding:0! ;
}
h1{
    padding:0;}

.pd-box1{
    display:flex;
    align-items:start;
    background-color:rgb(255, 162, 0);
    padding: 15px;
    height:100%;
}

.pd-box1 div:nth-child(1){
    background-color: rgb(170, 204, 132);
    height: 100%;
    width: auto;
}


.pd-box1 div:nth-child(2){
    background-color: rgb(203, 132, 204);
    height: 100%;
    width: 100%;
}

.pd-box1 div:nth-child(2) *{
    margin: 10px;
    padding: 10px;
}