/* Baner */
.baner-area{
    height: 15vh;
    width:100%;
    margin-top:10px;

    
    .baner{
        height: 100%;
        background-size: cover;
        color:rgb(130, 130, 130);
        font-size: 50px;
        display: flex;
        align-items:center;
        justify-content: center;
    }
}


@media screen and (min-width:420px){

    .baner-area .baner{
        font-size:65px;
    }
}

@media screen and (min-width:520px){


    .baner-area{
        height: 25vh;
        width:100%;
    }

    .baner-area .baner{
        font-size: 90px;
    }
}

@media screen and (min-width:1250px){

    .baner-area{
        height: 35vh;
    }
    
    .baner-area .baner{
        font-size: 120px;
    }

}