.baner-qs{
    background-image: url(../img/baner-quienes-somos.jpg);
}

.qs-box-content{
    margin-top: 10px;
    height:100%;
    width: 100%;
    background-color: rgb(234, 242, 248);
    display: flex;
    flex-wrap: wrap;
}

.qs-img-area{
    border-radius: 50px 50px 0px 0px ;
    width: 100%;
    height:100%;
    

}

.qs-img-area img{
    height:100%;
    width:100%;
    border-radius: 50px 50px 0px 0px ;

}

.qs-text-area{
    width:100%;
    background-color: rgba(28, 251, 210, 0);
    font-family: var(--pp-font-text);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.qs-text-area h1{
    padding:15px;
    font-size:50px;
    background-color: rgba(255, 105, 198, 0);
}

.qs-text-area p{
    font-size:1rem;
    font-family: var(--pp-font-text);
    background-color:rgba(255, 213, 136, 0);
    padding: 5px;
}

@media screen and (min-width:720px) {
    .qs-box-content{
        width: 98%;
    }
}

@media screen and (min-width:920px) {
    .qs-box-content{
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
    }
    .qs-text-area {
        justify-content: normal;
        align-items: flex-start;
    }

    .qs-img-area{
        height:auto;
        width:90%;
        border-radius: 2% 50% 2% 50% ;
    }
    .qs-img-area img{
        height:100%;
        width:100%;
        border-radius: 2% 50% 2% 50% ;
        max-height:100%;
    }

}

@media screen and (min-width:1020px) {

    .qs-text-area {
        width:70%;
    }
    .qs-img-area{
        height:auto;
        width: 500px;
    }

}

@media screen and (min-width:1150px) {
    .qs-text-area p{
        margin-top: 20px;
        font-size:17px;
    }
    .qs-text-area h1{
        margin-top: 20px;
        font-size:70px;
    }
}
